.wrapper {
	width: 100%;
	margin-top: 5%;
}

.main {
	width: 80%;
	margin: auto;
}

.label {
	margin-top: 8px;
	margin-bottom: 4px;
}

h2 {
	text-align: center;
	padding-bottom: 3%;
}

ul {
	padding: 5%;
}

.label-color {
	color: #7f7f7f;
}

li {
	margin-top: 10px;
}

form {
	padding: 5%;
/*	background-color: #faf7f2;*/
/*	background-color: #d9e8f5;*/
/*	background-color: #f2e963;*/
}

.float-left {
	float: left;
	padding-right: 1%;
}

.clear {
	clear: right;
}

/* unvisited link */
a:link {
	padding: 7px;
  color: #000;
/*	background-color: #faf7f2;*/
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;

}

/* visited link */
a:visited {
	padding: 7px;
  color: #000;
/*	background-color: #faf7f2;
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
	padding: 7px;
  color: #000;
/*  background-color: #faf7f2;
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}

/* selected link */
a:active {
	padding: 7px;
  color: #000;
/*	background-color: #faf7f2;*/
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}


