.wrapper {
	width: 100%;
	margin-top: 5%;
}

.main {
	width: 50%;
	margin: auto;
	padding-left: 20%;
	padding-right: 20%;
}

.label {
	margin-top: 8px;
	margin-bottom: 4px;
}

li span {
	color: #7f7f7f;
	padding: 15px;
}

li {
	margin-top: 10px;
}

form {
	padding: 10%;
/*	background-color: #faf7f2;*/
/*	background-color: #d9e8f5;*/
/*	background-color: #f2e963;*/
}

/* unvisited link */
a:link {
	padding: 7px;
/*  color: #7f7f7f;*/
/*	background-color: #faf7f2;*/
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;

}

/* visited link */
a:visited {
	padding: 7px;
/*  color: #ad9c78;*/
/*	background-color: #faf7f2;
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
	padding: 7px;
/*  color: #7f7f7f;*/
/*  background-color: #faf7f2;
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}

/* selected link */
a:active {
	padding: 7px;
/*  color: #ad9c78;*/
/*	background-color: #faf7f2;*/
/*  color: #000000;
  background-color: #91bed4;*/
  font-weight: bold;
  text-decoration: none;
}


