.wrapper {
	width: 100%;
	margin-top: 10%;
}

.main {
	width: 80%;
	margin: auto;
}

.label {
	margin-top: 8px;
	margin-bottom: 4px;
}

.form {
	padding: 4px;
	border: 2px solid grey;
}

.button {
	margin: 20px;
}

